@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@900&family=Poppins:wght@800&display=swap" rel="stylesheet">
<style>
    .display-4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2em; 
        color: #000; 
        font-weight: 800;
    }
</style>



<div class="text-center">
    <h1 class="display-4">Welcome  @ViewData["Nombre"]</h1>
  
</div>
