@model ProyectoAnalisis.Models.Usuario


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
    <style>
        /* En tu archivo de estilos CSS */
        .ancho-personalizado {
            width: 300px;
        }

        .banner-image {
            background-image: url('@Url.Content("~/Img/crayons-1445053_1280.jpg")');
            background-size: cover;
            color: #000000;
        }

    </style>
</head>
<body>
    <img class="banner-image">
<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control ancho-personalizado" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Rol"></label>
                    <select asp-for="Rol" class="form-control ancho-personalizado">
                        <option value="Profesor">Profesor</option>
                        <option value="Estudiante">Estudiante</option>
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </div>
       
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                    <input asp-for="Contraseña" type="password" class="form-control ancho-personalizado" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                    <input asp-for="Direccion" class="form-control ancho-personalizado" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label"></label>
                    <input asp-for="CorreoElectronico" class="form-control ancho-personalizado" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

</body>
</html>
