@{
    ViewData["Title"] = "Contenido";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Página</title>
</head>

<style>
    .banner-image {
        background-image: none;
     
    }


    .navbar {
        background-color: #7ED9D9;
        margin-left: -145px !important;
        height: 70px;
    }

    h1 {
        text-decoration: none;
        color: #73020C;
        font-weight: 900;
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: #143163;
        border: none;
        color: white;
    }

    .btn-secondary:hover,
    .btn-secondary:focus {
        background-color: #143163;
    }

    #dropdownMenuButton:hover,
    #dropdownMenuButton:active,
    #dropdownMenuButton:focus {
        background-color: #143163;
        color: white;
    }

    .carousel {
        width: 100%;
    }

    .carousel-inner {
        width: 100%;
        overflow: hidden;
    }

    .carousel-item img {
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        height: auto;
    }


    .carousel-item {
        height: auto; /* Establece la altura fija de los elementos del carrusel según tus necesidades */
    }

    .carousel {
        overflow: hidden; /* Evita que las imágenes se desborden del carrusel */
    }
    .carousel-item {
        position: relative;
        text-align: center; /* Alinea el texto al centro */
    }
    .carousel-caption {
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        color: #000000; /* Cambia el color del texto a negro */
        font-family: 'Lora', serif; /* Usa la fuente Lora */
    }
    h5{
        color: #000000; /* Cambia el color del texto a negro */
        font-family: 'Poppins', serif; /* Usa la fuente Lora */
        font-weight:900;
        font-size:60px;
    }

    p {
        color: #000000; /* Cambia el color del texto a negro */
        font-family: 'Lora', serif; /* Usa la fuente Lora */
        font-size: 25px;
    }


    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #7ED9D9 !important; /* Cambia el color deseado */
        color:#000000 !important;

    }


    /* Cambia el color del fondo de las flechas */
    .carousel-control-prev,
    .carousel-control-next {
        background-color: transparent; /* Hace que el fondo sea transparente */
        color: #000000;
    }


</style>
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Img/6840312.jpg" class="d-block mx-auto" alt="Presente Simple">
            <div class="carousel-caption d-none d-md-block">
                <h5>Simple present</h5>
                <p>El presente simple Para expresar 
                    hábitos y rutinas, hechos generales, 
                    acciones repetidas o situaciones, emociones y deseos permanentes.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/Img/Knights duel with swords at ancient city.jpg" class="d-block mx-auto" alt="Pasado Simple">
            <div class="carousel-caption d-none d-md-block">
                <h5>Simple Past</h5>
                <p>El pasado simple o past simple del inglés es un tiempo verbal que expresa situaciones o acciones que se dieron en el pasado, y aunque pueden ser del pasado reciente o del pasado lejano, su duración no es importante; solo se debe entender que estas ya finalizaron.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/Img/future-city-street-with-futuristic-glass-buildings-unusual-shapes_107791-3028 (1).jpg" class="d-block mx-auto" alt="Futuro Simple">
            <div class="carousel-caption d-none d-md-block">
                <h5>Simple Future</h5>
                <p>¿Quieres hablar sobre tus próximas vacaciones?, ¿o tal vez de dónde quieres trabajar en unos años?, ¿de lo que te quieres comprar en tu cumpleaños? Para todo eso y más sirve el futuro simple en inglés a través de will."</p>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
